@model BadrBinHomeed_NEW.Models.Personal_Info_En

@{

    ViewData["Title"] = "Edit";

}


<h1>Edit</h1>

<hr />

<div class="row">

    <div class="col-md-4">

        <form asp-action="Edit" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />

            <div class="form-group">

                <label asp-for="Mobile" class="control-label"></label>

                <input asp-for="Mobile" class="form-control" />

                <span asp-validation-for="Mobile" class="text-danger"></span>

            </div>

            <div class="form-group">

                <label asp-for="Email" class="control-label"></label>

                <input asp-for="Email" class="form-control" />

                <span asp-validation-for="Email" class="text-danger"></span>

            </div>

            <div class="form-group">

                <label asp-for="Nationality" class="control-label"></label>

                <input asp-for="Nationality" class="form-control" />

                <span asp-validation-for="Nationality" class="text-danger"></span>

            </div>

            <div class="form-group">

                <label asp-for="Residence" class="control-label"></label>

                <input asp-for="Residence" class="form-control" />

                <span asp-validation-for="Residence" class="text-danger"></span>

            </div>

           
            <div class="form-group">

                <img src="~/images/Personal_Info_En/@Model.ImageName" style="height:200px;width:200px" />

                <input type="file" name="file" />

                <span asp-validation-for="ImageName" class="text-danger"></span>

            </div>



            <div class="form-group">

                <input type="submit" value="Save" class="btn btn-primary" />

            </div>

        </form>

    </div>

</div>



<div>

    <a asp-action="Index">Back to List</a>

</div>